:root{  
  --primary: #0076DF;
  --point-size: 1.25rem;
  --point-font: 700;
}


.app_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  background-color: #fcfdfd;
}
.carousel_container{
  width:80vw ;
}
.main_container {

  flex: 1 0 auto;

}
h5{
  font-size: 1.25rem; 
  font-weight: bold;
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}








.main_container{
  padding:  0px !important; 
} 







.product_detail{
  width: 100%;
  margin-top: 60px;
  text-align: left;
}

.horizontal_scroll_container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  margin-bottom: 5%;
}




@media only screen and (max-width: 680px) {
  .product_detail{
    width: 90%;
  }

  .main_container {
    padding: 20px;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .horizontal_scroll_container {
    display: flex;
    overflow-x: auto; /* Activa el scroll horizontal */
    white-space: nowrap; /* Evita que los elementos se rompan en varias líneas */
    justify-content: flex-start; /* Para pantallas md o más grandes */
    align-items: center; 
  }
  
  /* Opcional: Personalización del scrollbar para Webkit (Chrome, Safari) */
  .horizontal_scroll_container::-webkit-scrollbar {
    height: 8px; /* Tamaño del scrollbar */
  }
  
  .horizontal_scroll_container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scrollbar */
    border-radius: 10px; /* Bordes redondeados del scrollbar */
  }
  
  /* Opcional: Personalización del scrollbar para Firefox */
  .horizontal_scroll_container {
    scrollbar-width: thin; /* Tamaño del scrollbar en Firefox */
    scrollbar-color: #888 #f1f1f1; /* Color del scrollbar y del fondo */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 680px) and (max-width: 767px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .horizontal_scroll_container {
    display: flex;
    overflow-x: auto; /* Activa el scroll horizontal */
    white-space: nowrap; /* Evita que los elementos se rompan en varias líneas */
  }
  
  /* Opcional: Personalización del scrollbar para Webkit (Chrome, Safari) */
  .horizontal_scroll_container::-webkit-scrollbar {
    height: 8px; /* Tamaño del scrollbar */
  }
  
  .horizontal_scroll_container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scrollbar */
    border-radius: 10px; /* Bordes redondeados del scrollbar */
  }
  
  /* Opcional: Personalización del scrollbar para Firefox */
  .horizontal_scroll_container {
    scrollbar-width: thin; /* Tamaño del scrollbar en Firefox */
    scrollbar-color: #888 #f1f1f1; /* Color del scrollbar y del fondo */
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .main_container{
    padding:  0px !important; 
  } 

  .horizontal_scroll_container {
    display: flex;
    overflow-x: auto; /* Activa el scroll horizontal */
  }
}